---
const today = new Date();
---

<footer>
  This blog is made with <a href="https://astro.build/" target="_blank">Astro</a>. Hero images are generated with <a target="_blank" href="https://www.midjourney.com/home/">MidJourney</a>.
	&copy; {today.getFullYear()} Asazu Taiga. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
